.sidebar {
  width: 280px;
  height: 100vh;
  background-color: #236C50; /* Color de fondo oscuro */
  padding: 20px;
  color: white; /* Color del texto dentro del sidebar */
}

.nav-link {
  width: 250px; /* Cambia el tamaño a tu preferencia */
  text-align: center;
  padding: 12px 0;
  font-size: 16px;
  display: flex;              
  justify-content: center;    
  align-items: center;        
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  background-color: #F3FBF5; /* Color azul por defecto */
  color: #236C50; /* Color del texto */
  border-radius: 8px; /* Bordes redondeados */
  border: none;
}

/* Animación de hover para los botones */
.nav-link:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  background-color: #f8fbfa; /* Un tono más oscuro de azul al hacer hover */
}

/* Margen para dar un poco de espacio entre los botones */
.nav-item {
  margin-bottom: 10px;
}
